server:
  port: 8080
  servlet:
    context-path: /

jwt:
  secret: d4d984asd98a4s9dd4d984asd98a4s9d

management:
  server:
    port: 8080

spring:
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  datasource:
    url: jdbc:postgresql://localhost:5432/parking?useTimezone=true&serverTimezone=UTC&useLegacyDate
    username: admin
    password: 123456
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate.format_sql: true